{% extends '::base.html.twig' %}

{% block title_extend %} - {% trans %}Classification scheme{% endtrans %}{% endblock %}

{% block css %}
    <link href="{{ asset('css/treeview.css') }}" type="text/css" rel="stylesheet" media="screen" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
        $(function(){
            $('.extended_informations').each(function(){
                var _this = $(this);
                _this.hide();
                var _parent = _this.parent('li');
                var _expand = $('<a class="expand" href="#' + _parent.attr('id') + '" title="{% trans %}Expand/Hide informations{% endtrans %}">{% trans %}Informations{% endtrans %}</a>');
                _expand.on('click', function(){
                    $(this).toggleClass('expanded').nextAll('.extended_informations').toggle();
                    return false;
                });
                _parent.prepend(_expand);
            });

            $('#cdccontrol').removeClass('hidden');
            $('#cdccontrol a').on('click', function(){
                var _this = $(this);
                if ( _this.attr('id') == 'cdccollapse' ) {
                    $('input[type=checkbox]').prop('checked', false);
                }
                if ( _this.attr('id') == 'cdcexpand' ) {
                    $('input[type=checkbox]').prop('checked', true);
                }
                return false;
            });
        });
{% endblock %}

{% block container %}
    <h2>{% trans %}Classification scheme{% endtrans %}</h2>
    {# Expand all works once, but no longer when collapse has been used :/ #}
    <p id="cdccontrol" class="hidden">
        <a href="#" id="cdccollapse">{% trans %}Collapse all{% endtrans %}</a>
        <a href="#" id="cdcexpand">{% trans %}Expand all{% endtrans %}</a>
    </p>
    {{ displayCdc(docs)|raw }}
{% endblock %}

