    <article class="row-fluid" id="result_{{ docid }}">
        {% if ariane is defined %}
            <ul class="breadcrumb">
                {% for fil in ariane %}
                    <li>
                        <a href="{{ path('bach_display_document', {docid: fil.fragmentid}) }}">{{ fil.cUnittitle }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ displayFragment(document.fragment, true)|raw }}
    </article>
