{% for facet_field,facet in facets %}
<div>
    <ol>
    {% set index_name = facet.index_name %}
    {% set facet_content = facet.content %}

    {% for facet,count in facet_content %}
        <li>
            <a href="{{ path('bach_search', {query_terms: q, filter_field: index_name, filter_value: facet}) }}">{{ facet }} ({{ count }})</a>
        </li>
    {% endfor %}
    </ol>
</div>
{% endfor %}
