{% extends '::base.html.twig' %}

{% block title_extend %}{% trans %}Page not found :({% endtrans %}{% endblock %}

{% block container %}
    <div id="notfound">
        <h1><img src="{{ asset('img/404.png') }}" alt=""/></h1>
        <h2>{% trans %}The page you requested does not exist, or has been removed.{% endtrans %}</h2>
    </div>
{% endblock %}
