{% extends '::base.html.twig' %}

{% block title_extend %}{% trans %} - Page not found :({% endtrans %}{% endblock %}

{% block container %}
    <div class="page_error">
        <h1><img src="{{ asset('img/404.png') }}" alt=""/></h1>
        {% set errmsg = exception.message|e|replace({"\n": '<br />'}) %}
        <h2>
        {% if errmsg[:8] != 'No route' %}
            {{ errmsg|format_file_from_text }}
        {% else %}
            {% trans %}The page you requested does not exist, or has been removed.{% endtrans %}
        {% endif %}
        </h2>
    </div>
{% endblock %}
