{#
Copyright (c) 2014, Anaphore
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

    (1) Redistributions of source code must retain the above copyright
    notice, this list of conditions and the following disclaimer.

    (2) Redistributions in binary form must reproduce the above copyright
    notice, this list of conditions and the following disclaimer in
    the documentation and/or other materials provided with the
    distribution.

    (3)The name of the author may not be used to
   endorse or promote products derived from this software without
   specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS'' AND ANY EXPRESS OR
IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT,
INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
#}

{% extends '::base.html.twig' %}


{% block container %}
<h2>Les cookies</h2>

<p>Notre philosophie est d'être ouvert et clair quant la façon dont nous utilisons vos données. Dans un souci de transparence, cette politique contient des informations détaillées sur notre utilisation des cookies.</p>

<h3>Est-ce que Bach utilise des cookies ?</h3>
<p>Oui. Nous utilisons des cookies et d'autres technologies afin de permettre à tous nos utilisateurs de bénéficier de la meilleure expérience possible. Les cookies contribuent également à préserver la sécurité de votre compte.
En utilisant nos services, vous consentez à l'emploi de cookies et d'autres technologies similaires aux fins décrites dans la présente politique.</p>

<h3>Qu'est-ce qu'un cookie ?</h3>
<p>Un cookie est un petit fichier déposé dans un espace dédié du disque dur de votre terminal (ordinateur, tablette, téléphone mobile ou autre appareil optimisé pour Internet), lors de la consultation d'un contenu en ligne. Il permet d'identifier votre terminal dans lequel il est enregistré, pendant une durée de validité limitée.</p>

<h3>À quelles fins sont utilisés les cookies ?</h3>
Deux types de cookies, répondant aux finalités décrites ci-dessous, peuvent ainsi être enregistrés dans votre terminal à l’occasion d’une visite de notre site :
<ul>
<li>1. Les cookies techniques sont nécessaires à la navigation dans notre site, ainsi qu’à l’accès aux différents  services. Les cookies techniques permettent en particulier de vous reconnaître, de signaler votre passage sur telle ou telle page et ainsi d’améliorer votre confort de navigation : adapter la présentation du site aux préférences d'affichage de votre terminal (langue utilisée, résolution d'affichage), éventuellement mémoriser les mots de passe et autres informations relatives à un
formulaire que vous avez rempli sur le site (inscription ou accès à l’espace personnel). Les cookies techniques permettent également de mettre en œuvre des mesures de sécurité. Ces cookies ne peuvent pas être désactivés ou paramétrés sous peine de ne plus pouvoir accéder au site et/ou aux services du site.
</li>
<li>2. Les cookies « réseaux sociaux » permettent de partager des contenus de notre site avec d’autres personnes ou de faire connaître à ces autres personnes votre consultation ou votre opinion concernant un contenu du site. Tel est, notamment, le cas des boutons « partager »,  issus des réseaux sociaux Twitter ou ScoopIt. Le réseau social fournissant un tel bouton applicatif est susceptible de vous identifier grâce à ce bouton, même si vous n’avez pas utilisé ce bouton lors de la consultation de
notre site. Nous vous invitons à consulter les politiques de protection de la vie privée de ces réseaux sociaux afin de prendre connaissance des finalités d’utilisation, notamment publicitaires, des informations de navigation qu’ils peuvent recueillir grâce à ces boutons applicatifs. La durée de vie de ces cookies n’excède pas 13 mois.
</li>
</ul>
<h3>Vos choix concernant les cookies</h3>
<p>En utilisant notre site, vous consentez à l’utilisation des cookies précités. Vous pouvez toutefois choisir à tout moment de désactiver tout ou une partie de ces cookies, à l’exception des cookies techniques nécessaires au fonctionnement du site comme indiqué ci-dessus. Votre navigateur peut également être paramétré pour vous signaler les cookies qui sont déposés dans votre terminal et vous demander de les accepter ou non.</p>

<ul><li>1. Refuser un cookie par l’intermédiaire de votre logiciel de navigation
 Votre navigateur peut être paramétré pour vous signaler les cookies déposés dans votre terminal et demander de les accepter ou non (au cas par cas ou en totalité). Nous vous rappelons toutefois que la désactivation de tous les cookies vous empêchera d’utiliser notre site dans des conditions normales, à l’exception des fonctions basiques.
<ul>
<li>- Si vous utilisez le navigateur Explorer : cliquez sur le bouton Outils, puis Options Internet. Sous l’onglet général, Historique de navigation, cliquez sur Paramètres. Puis cliquez sur Afficher les fichiers et sélectionnez le ou les cookies que vous souhaitez désactiver. Fermez ensuite la fenêtre qui contient cette liste de cookies et cliquez deux fois sur OK pour retourner sur Internet.</li>

<li>- Si vous utilisez le navigateur Firefox : cliquez sur l’icône du menu Firefox, puis sur le bouton Outils, puis Options ; dans la fenêtre qui s’affiche, choisissez Vie Privée et cliquez sur Supprimez cookies Spécifiques. Sélectionnez les cookies que vous souhaitez désactiver puis supprimez-les.</li>

<li>- Si vous utilisez le navigateur Safari : cliquez sur le bouton Paramètres, puis  Préférences. Dans la fenêtre qui s’affiche, choisissez  Confidentialité/Sécurité, et cliquez sur Afficher les cookies. Sélectionnez les cookies que vous souhaitez désactiver puis clic sur Effacer ou sur Tout effacer.</li>

<li>- Si vous utilisez le navigateur Chrome : cliquez sur l’icône du menu Google Chrome, puis Paramètres. Au bas de la page, cliquez sur Afficher les paramètres avancés. Dans la section Confidentialité, cliquez sur Paramètre de contenus. Pour désactiver les cookies :
  sélectionnez Interdire à tous les sites de stocker des données
  cliquez sur cookies et données de site, puis passez la souris sur le site ayant créé le cookie, et cliquez sur X dans l’angle droit, ou cliquez sur Tout supprimer.</li>
</ul></li>
<li> 2. Refuser un cookie émis par un réseau social : Si vous ne souhaitez pas que notre site enregistre des cookies dans votre navigateur à cette fin, vous pouvez cliquer sur les liens de désactivation suivants qui enregistreront au sein de votre navigateur un cookie ayant pour unique objet de les désactiver. Désactiver ces cookies empêchera donc toute interaction avec le ou les réseaux sociaux concernés :
<ul>
<li>TWITTER : <a href="https://support.twitter.com/articles/20171379-twitter-prend-en-charge-la-desactivation-du-suivi-dnt#">https://support.twitter.com/articles/20171379-twitter-prend-en-charge-la-desactivation-du-suivi-dnt</a></li>
<li>SCOOPIT : <a href="http://www.scoop.it/policy">http://www.scoop.it/policy</a>en attente de la réponse de ScoopIt pour un meilleur lien</li></ul>
</li>
</ul>
 Attention, la prise en compte de vos différents souhaits repose sur un cookie ou plusieurs cookies déterminés. Si vous supprimez tous les cookies enregistrés au sein de votre terminal concernant notre site, nous ne saurons plus quel consentement vous avez émis. Cela reviendra donc à réinitialiser le consentement et vous devrez donc à nouveau refuser le ou les cookies que vous ne souhaitez pas conserver. De même, si vous utilisez un autre navigateur Internet, vous devrez à nouveau refuser ces cookies.

{% endblock %}
