{#
Copyright (c) 2014, Anaphore
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

    (1) Redistributions of source code must retain the above copyright
    notice, this list of conditions and the following disclaimer.

    (2) Redistributions in binary form must reproduce the above copyright
    notice, this list of conditions and the following disclaimer in
    the documentation and/or other materials provided with the
    distribution.

    (3)The name of the author may not be used to
   endorse or promote products derived from this software without
   specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS'' AND ANY EXPRESS OR
IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT,
INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
#}

{% extends '::base.html.twig' %}


{% block container %}
    {% if type == 'credits'%}
    <h2>Crédits</h2>
        Anaphore - Bach Ricercare<br />
        3 ter chemin de la Fontaine<br />
        13570 Barbentane<br />
        Tél : +334 90 95 62 65<br />
        Site web de la société <a href="http://www.anaphore.eu" target="_blank">Anaphore</a><br />
        Blog de la société <a href="http://labs.anaphore.eu" target="_blank">Anaphore</a><br />
        Nous contacter via notre <a href="http://www.anaphore.eu/contact-support/" target="_blank" title="Nous contacter">formulaire</a><br />
        La liste des derniers changements dans Bach est visible dans le fichier <a href="{{path('display_changelog')}}" target="_blank">changelog</a>
    {% elseif type == 'legals' %}
       <h2>Mentions légales</h2>

       <h3>Informations légales du site demo.bach.anaphore.org</h3>
       Ce site est celui de la démonstration du produit Bach Ricercare.<br />
       Pour toute information liée à l’utilisation du site, vous pouvez contacter le service par notre <a href="http://www.anaphore.eu/contact-support/" target="_blank" title="Nous contacter">formulaire de contact</a> ou courrier postal à l’adresse ci-dessous :<br />
        Anaphore - Bach Ricercare<br />
        3 ter chemin de la Fontaine<br />
        13570 Barbentane<br />
        Tél : +334 90 95 62 65<br />

        <h3>Conception technique et hébergement </h3>
        Anaphore - SARL au capital de 22.867,35 €<br />
        3 ter chemin de la Fontaine <br />
        13570 Barbentane<br />
        France<br />
        Tél : 04 90 95 62 65<br />
        RCS Tarascon 390 922 573<br />

        <h3>Propriété Intellectuelle</h3>
        Le présent site est la propriété d'Anaphore. Les photographies, textes, slogans, dessins, images, logos ainsi que toutes oeuvres intégrées dans le site sont la propriété d'Anaphore de tiers ayant autorisé Anaphore à les utiliser. La reproduction, sur un support papier ou informatique, du site est autorisée sous réserve qu'elle soit strictement réservée à un usage personnel, excluant tout usage à des fins publicitaires et/ou commerciales et/ou d'informations, et qu'elle soit conforme aux dispositions de l'article L122-5 du Code de la Propriété Intellectuelle, y compris pour les documents téléchargeables et /ou imprimables. A l'exception des dispositions ci-dessus, toute reproduction, représentation, utilisation ou modification, par quelque procédé que ce soit et sur quelque support que ce soit, de tout ou partie du site, de tout ou partie des contenus qui le composent, sans avoir obtenu l'autorisation préalable d'Anaphore, est strictement interdite et constitue un délit de contrefaçon.

        <h3>Lien Hypertexte</h3>
        Le site de démonstration de Bach autorise tout site Internet ou tout autre support à le citer ou à mettre en place un lien hypertexte pointant vers son contenu, sous réserve :
        <ul class="legalsList">
            <li>que la page atteinte ne soit pas imbriquée à l’intérieur d’autres pages, en particulier par voie de cadre (ou « frames ») c’est-à-dire que les pages du site demo.bach.anaphore.org ne soient pas imbriquées à l’intérieur des pages d’un autre site, mais accessibles par l’ouverture d’une fenêtre,</li>
            <li>de mentionner la source pour chaque lien, en particulier lorsqu’il s’agit d’un lien direct sur un contenu,</li>
            <li>que l’accès aux pages contenant ces liens vers le site http://demo.bach.anaphore.org soit gratuit.</li>
        </ul>
        Cette autorisation ne s’applique pas aux sites diffusant des informations à caractère polémique, pornographique, xénophobe ou pouvant, dans une plus large mesure porter atteinte à la sensibilité du plus grand nombre.<br />
        Anaphore se réserve le droit de demander la suppression d’un lien qu’elle estime non conforme à sa ligne éditoriale.<br />
        Anaphore ne peut en aucun cas être tenu pour responsable de la mise à disposition des sites qui font l'objet d'un lien hypertexte à partir des sites, et ne peut supporter aucune responsabilité sur le contenu, les produits, les services, etc. disponibles sur ces sites ou à partir de ces sites.

    <h3>Conditions d’accès et d’utilisation</h3>
    L'accès au site demo.bach.anaphore.org est ouvert à tous ; avant toute utilisation du service, il appartient aux utilisateurs de se rapprocher de leur fournisseur d'accès afin de s'assurer que le navigateur utilisé permet bien l'accès, dans une configuration sécurisée, au site Web.<br />
    Il a été testé pour Safari version 8.0.2, Chrome 39, Internet Explorer 9, Firefox 33.1.1.<br />
    Le site est réalisé par la société Anaphore grâce à la solution Bach. Le nom de la solution de gestion de site « Bach ricercare » est un nom déposé.
    <br />
    L'utilisateur reconnaît avoir été informé que le site Web est accessible 24h/24h et 7 jours/7 jours, à l'exception des cas de force majeure, difficultés informatiques, difficultés liées à la structure du réseau de télécommunication, autres difficultés techniques ou opérations de maintenance.
    <br />
    Les présentes informations peuvent être modifiées à tout moment par Anaphore. Nous vous conseillons en conséquence de les consulter régulièrement.
    {% endif %}
{% endblock %}

