<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    {% block html_headers %}{% endblock %}
    {% block css %}{% endblock %}
</head>
<body prefix="dc: http://purl.org/dc/terms/ foaf: http://xmlns.com/foaf/0.1/ gn: http://www.geonames.org/ontology#">
    {% block header %}
        {% block menu %}{% endblock %}
    {% endblock %}

    {# Main content #}
    <div id="wrapper">
        <div id="container">
            <!--[if lte IE 7]>
                <div id="oldie"><strong>{% trans %}Your browser is quite old, some features may not work.{% endtrans %}</strong><br/>{% trans %}You may have a better experience with a more recent or an alternative one.{% endtrans %}</div>
            <![endif]-->
            {% block navigation %}{% endblock %}
            {% block login %}{% endblock %}
            {% block flash_messages %}{% endblock %}
            {% block container %}{% endblock %}
        </div>
    </div> {# /#wrapper #}

    {% block main_js %}{% endblock %}
</body>
</html>
