
var _doTabs = function(elt) {

    $(elt + ' > ul a').each(function(){
        var _this = $(this);
        var _href = _this.attr('href') + '/ajax';
        if ( !_href.match(/^#.*/) ) {
            _this.attr('href', _href);
        }
    });

    $(elt).tabs({
        //active: $('#tabs li.active').index(),
        beforeLoad: function( event, ui ) {
            if ( ui.tab.data( "loaded" ) ) {
                event.preventDefault();
                return;
            }

            var _img = $('<figure id="loading"><p><img src="{{ asset('img/loading.png') }}" alt="{{ _('Loading...') }}"/><br/>{{ _('Currently loading...') }}</p></figure>');
            $('body').append(_img);

            ui.jqXHR.done(function() {
                ui.tab.data( "loaded", true );
            });
            ui.jqXHR.fail(function(){
                alert('{{ _('An error occured loading tab :(')|escape('js') }}');
                $('#loading').remove();
            });
        },
        load: function(event, ui){
            $('#loading').remove();
        }
    });
}
