    <ul class="span2 nav nav-list well" id="options_sidebar">
        <li class="nav-header">Gestion de l'indexation</li>
        <li class="divider"></li>
        <li{% if current_route == 'bach_indexation_homepage' %} class="active"{% endif %}><a href="{{ path('bach_indexation_homepage') }}">Documents indexés</a></li>
        <li{% if current_route == 'bach_indexation_queue' %} class="active"{% endif %}><a href="{{ path('bach_indexation_queue')  }}"><i class="icon-tasks"></i> File d'attente des tâches d'indexation</a></li>
        <li class="divider"></li>
        <li><a href="#" onClick="toggleUploadForm();return false;"><span class="icon-download-alt"></span> Indexer un nouveau fichier</a></li>
        <li class="divider"></li>
        <li><a href="#helpModal" role="button" data-toggle="modal"><span class="icon-question-sign"></span> Aide</a></li>
    </ul>


