{% extends '::base.html.twig' %}

{% block title_extend %} - {% trans %}Add a comment{% endtrans %}{% endblock %}

{% block container %}
    <h2>{% trans %}New comment{% endtrans %}</h2>
    <p>
        <strong>{% trans %}Context:{% endtrans %}</strong>
        {% for ptitle in eadfile.getParentsTitles %}
            {{ ptitle.getTitle }},
        {% endfor %}
        {{ eadfile.getCUnittitle  }}
    </p>
    {% include 'BachHomeBundle:Comment:add_form.html.twig' with {'docid': docid, 'form': form} %}
{% endblock %}

{% block menu %}
    <h2 class="back"><a href="{{ path('bach_display_document', {docid: docid}) }}">{% trans %}Back to document{% endtrans %}</a></h2>
{% endblock %}
