#flash-warnings, #flash-errors {
    padding: .2em 1em .2em 80px;
    border-radius: 6px;
    margin: 0 1em .5em;
    text-align: center;
}

#flash-warnings h3, #flash-errors h3 {
    margin: 0 0 .5em;
}

#flash-warnings {
    background: #e8af00 url(../img/warning.png) 10px 50% no-repeat;
    background: rgba(232, 175, 0, 0.4) url(../img/warning.png) 10px 50% no-repeat;
    border: 1px solid #e8af00;
}

#flash-errors {
    background: #dc0000 url(../img/error.png) 10px 50% no-repeat;
    background: rgba(220, 0, 0, 0.4) url(../img/error.png) 10px 50% no-repeat;
    border: 1px solid #dc0000;
}

#options_sidebar, #refine_query {
    margin-right: .5em;
}

#options_sidebar select {
    margin: 0;
}

#refine_query .nav-tabs > li > a {
    padding-left: 5px;
    padding-right: 5px;
}

.result_pic {
    float: right;
    margin: 0 0 0 1em;
}

.clear {
    clear: both;
}

.sidebar-nav {
    padding: 2px 0;
}

#searchQuery_perform_search span {
    text-indent: 50px;
    overflow: hidden;
}

#search_results {
    margin-top: .5em;
}

#search_results article figure {
    margin-bottom: .5em;
}

#search_results article h3 {
    font-size: 1.2em;
    line-height: 1.8em;
    margin: 0;
}

/* ADMIN Interface related
      -------------------------------------------------- */
#ram_usage, #swap_usage {
    width: 49%;
    float: left;
    margin-right: 0.5%;
}

#swap_usage {
    float:right;
    margin-right: 0;
}

/* Sticky footer styles
      -------------------------------------------------- */

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,#footer {
    height: 60px;
}

#footer {
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
}

/* Custom page CSS
      -------------------------------------------------- */
/* Not required for template or sticky footer method. */
.container {
    width: auto;
}

.container .credit {
    margin: 20px 0;
}

.input-append > input.input-big{
    font-size:18px;
}

.btn-fixed{
    padding: 9px 0;
    position:fixed;
    left:20px;
    top:530px;
    width:250px;
}

.sidebar-nav-fixed{
    padding: 9px 0;
    position:fixed;
    left:20px;
    top:90px;
    width:250px;
}

.row-fluid > .span-fixed-sidebar {
    margin-left: 290px;
}

.selectfixed{
    padding: 0px 0;
    position:fixed;
    z-index:10;
    left:20px;
    top:60px;
    height:20px;
    width:250px;
}

.debug:before {
    content:"DEBUG:";
    font-weight:bold;
}

.debug {
    padding: .5em;
    background-color:rgba(255,0,0,.2);
    margin-bottom: .5em;
    border-radius: 6px;
}

em.hl {
    background-color: yellow;
    background-color: rgba(255, 255, 0, 0.4);
}

.clear-btn {
    float: right;
    font-weight: normal;
    font-size: .85em;
    text-transform: none;
    text-shadow: none;
}
.clear-btn + .tooltip {
    font-weight: normal;
    font-size: 1em;
    text-transform: none;
    text-shadow: none;
}

.menu-button {
    text-align: center;
}

.menu-button a {
    margin: .2em 1em 0!important;
}

#active_filters ul {
    display: inline-block;
    list-style-type: none;
    margin: 0 .3em 0 0;
}

#active_filters li {
    display: inline-block;
}

#tagcloud li {
    display: inline-block;
}

#tagcloud a.tag0 { font-size: 0.8em; font-weight: 100; }
#tagcloud a.tag1 { font-size: 0.9em; font-weight: 200; }
#tagcloud a.tag2 { font-size: 1.0em; font-weight: 300; }
#tagcloud a.tag3 { font-size: 1.2em; font-weight: 400; }
#tagcloud a.tag4 { font-size: 1.3em; font-weight: 500; }
#tagcloud a.tag5 { font-size: 1.4em; font-weight: 600; }
#tagcloud a.tag6 { font-size: 1.7em; font-weight: 700; }
#tagcloud a.tag7 { font-size: 1.9em; font-weight: 800; }
#tagcloud a.tag8 { font-size: 2.3em; font-weight: 900; }
#tagcloud a.tag9 { font-size: 2.5em; font-weight: 900; }

#dates_range {
    margin:0 1em 1em;
}

.breadcrumb {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.breadcrumb li {
    display: inline-block;
}

.breadcrumb li a {
    display: inline-block;
    padding: .1em .3em .1em 0;
}

.breadcrumb li a:before {
    content: "» ";
}

.breadcrumb li:first-child a:before {
    content: "";
}

figure section {
    text-align: center;
}

figure section a {
    display: inline-block;
    width: 300px;
    text-align: center;
    vertical-align: middle;
    margin: .2em;
}

figure section a.flashplayer {
    height: 300px;
    color: black;
    border:1px black solid;
    border-radius: 6px;
}

a.flashplayer img {
    margin-top: 108px;
}

a.flashplayer h2 {
    background: url(../img/flash.jpg) 50% 0 no-repeat;
    padding-top: 110px;
    font-size: 1.2em;
    line-height: 1.2em;
    margin: 50px 0 .5em;
}

a.flashplayer h3 {
    font-size: 1em;
    line-height: 1em;
    margin: 0;
}

a.flashplayer p {
    font-size: 0.85em;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media ( max-width : 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

