/** new Design */

/**
 * ===== Global elements =====
 */

@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(../img/PTSans-Narrow.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'), url(../img/PTSans-NarrowBold.woff) format('woff');
}

html {
    font-family: 'PT Sans Narrow', Verdana, Arial, sans-serif;
    font-size: 1em;
}

.ui-widget {
    font-family: inherit!important;
    font-size: inherit!important;
}

body {
    background: #e4dfdb url(../img/bg.jpg) top left no-repeat;
    color: #4a4041;
    min-height: 100%;
    min-width: 1000px;
}

html, body {
    height: 100%;
}

a {
    color: #b73a34;
    text-decoration: none;
}

.ui-widget-content .content a, [id=tabs] section a {
    color: #b73a34!important;
}

a:hover {
    text-decoration: underline;
}

pre {
    white-space: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h2 {
    font-size: 1.4em;
    margin: .4em 0 .2em;
}

h3 {
    font-size: 1.3em;
    margin: .3em .1em .2em;
}

h4 {
    font-size: 1.2em;
    margin: .3em .2em .2em;
}

h5 {
    font-size: 1.1em;
    margin: .2em .3em .1em;
}

h6 {
    font-size: 1em;
    margin: .2em .4em .1em;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

legend {
    font-weight: bold;
    display: block;
    width: 100%;
    border-bottom: 1px solid;
    font-size: 1.1em;
    margin-bottom: 1em;
}
/**
 * ===== Page bones =====
 */

[id=wrapper] {
    margin-left: 20em;
    overflow: auto;
    height: 100%;
    padding: 0 0 0 5%;
    max-width: 1200px;
}

[id=container] {
    padding: 4em 2em 0 3%;
    position: relative;
}

/**
 * ===== Homepage =====
 */

[id=welcome] {
    font-size: 1.8em;
    font-weight: bold;
    color: #4a4041;
    text-align: center;
    margin: 1.5em 0 1em;
}

[id=welcome] + [id=search] {
    margin-bottom: 2em;
}

/**
 * ===== Main header =====
 */

.header {
    margin: 2em 0 3em;
    text-align: center;
}

.header h1 a:hover {
    background: none;
}

[id=navigation], [id=navigation] a {
    color: #4A4041;
}

/**
 * ===== Navigation menu =====
 */

[id=navigation] {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #b2a0a0;
}

[id=navigation] li {
    display: inline-block;
}

[id=navigation] a {
    font-weight: bold;
    display: inline-block;
    padding: .8em 2em;
    text-decoration: none;
}

[id=navigation] a:hover, [id=navigation] a:focus, [id=navigation] a:active, [id=navigation] .active a {
    color: #b73a34;
}

/**
 * ===== Main menu =====
 */

[id=menu] {
    width: 15em;
    height: 100%;
    margin-right: .5em;
    margin-left: 3.7em;
    position: absolute;
    background-color: #332928;
    color: white;
    padding: 0 .5em;
    overflow: auto;
    top:0;
    left: 0;
}

[id=menu].hidemenu {
    margin-left: -15em;
}

[id=menu] h2 {
    background: url(../img/menu_sep.png) top left repeat-x;
    color: #bb4a46;
    font-size: 1.1em;
    padding-top: 1em;
}

[id=menu] a {
    color: #222;
}

[id=menu] ol {
    list-style-type: decimal;
}

[id=menu] li.active a {
  background-color: #d1c6c0;
  color: #4a4041;
}

[id=menu] div.ui-accordion-content {
    padding: 0 0 0 2.7em;
    background: none;
    border: none;
}

[id=menu] li.show_more {
    list-style-type: none;
}

[id=menu] a,
[id=menu] div.ui-accordion-content a,
[id=menu] li {
    color: #968c82;
}

[id=menu] h3, [id=menu] h3.ui-accordion-header {
    padding: .1em 0;
    margin-top: 2px;
    background: none;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 1.1em;
}

[id=menu] h3.ui-accordion-header  {
    padding-left: 1.4em;
}

[id=menu] .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    left: 0;
}

[id=menu] ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

[id=menu] ul a {
    display: block;
    padding: .1em 0;
}

[id=menu] a:hover,
[id=menu] div.ui-accordion-content a:hover {
    color: white;
    text-decoration: none;
}

/**
 * ===== Search form =====
 */

[id=search] input[type=text],
[id=search] button[type=submit] {
    border: none;
    padding: 0;
    height: 32px;
}

[id=search] > div {
    white-space: nowrap;
}

[id=search] input[type=text] {
    width: 96%;
    padding: 0 .5em;
}

[id=search] button[type=submit] {
    width: 32px;
    background: #b73a34 url(../img/sprite.png) -8px -8px no-repeat;
    margin-left: -.3em;
    text-indent: 5em;
    overflow: hidden;
}

/**
 * ===== Search results =====
 */

/** View switcher */
[id=change_view] {
    position: absolute;
    top: 0;
    right: 0;
}

.btn-list, .btn-thumb {
    background: transparent url(../img/sprite.png) 0 0 no-repeat;
    display: inline-block;
    width: 29px;
    height: 29px;
    border: none;
    text-indent: 35px;
    line-height: 30px;
    overflow: hidden;
    padding: 0;
}

.btn-list {
    background-position: -11px -58px;
}

.btn-thumb {
    background-position: -11px -109px;
}

.btn-list.selected, .btn-list:hover, .btn-thumb.selected, .btn-thumb:hover {
    background-color: #d1c6c0;
}

/** === Main display (old method) === */

[id=search_results] {
    margin-top: .5em;
}

[id=search_results] article figure {
    float:left;
    width: 150px;
    height: 150px;
    margin: 0 0 .5em 0;
    text-align: center;
    overflow: hidden;
}

[id=search_results] article.thumbs figure {
    float: none;
    margin: 0;
    width: auto;
}

[id=search_results] article figure a.flashplayer img {
    margin-top: 33px;
}

[id=search_results] article figure a.flashmusicplayer img {
    margin-top: 70px;
}

[id=search_results] a.flashmusicplayer h2 {
    display: block;
}

[id=search_results] a.flashplayer h2,
[id=search_results] a.flashmusicplayer h2 {
    margin: 0;
    padding-top: 102px;
    font-size: .85em;
    line-height: .85em;
}

[id=search_results] a.flashplayer h3,
[id=search_results] a.flashmusicplayer h3 {
    font-size: .85em;
    line-height: .85em;
}

[id=search_results] article {
    border-top: 1px solid #b2a0a0;
    margin-top: .2em;
    padding: .5em 0;
    clear: left;
}

[id=search_results] article.thumbs {
    display: inline-block;
    width: 200px;
    height: 200px;
    text-align: center;
    border: none;
    padding: 0;
}

[id=search_results] article:first-of-type {
    border-top: none;
}

[id=search_results] article > div {
    margin-left: 155px;
}

[id=search_results] article.thumbs > div {
    margin-left: 0;
}

[id=search_results] article h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 .2em 0;
}

[id=search_results] article.thumbs h3 {
    font-size: 1em;
}

[id=search_results] article h3 a {
    color: #4a4041;
}

.content header {
    margin-bottom: .2em;
}

.results_count {
    position: relative;
    background: #a3968d;
    color: white;
    padding: .5em;
    font-size: .9em;
}

/**
 * ===== Pagination =====
 */

.pagination {
    clear: both;
    text-align: center;
    border-top: 1px solid #B2A0A0;
    padding: 1em 0;
}

.pagination li {
    display: inline-block;
}

.pagination a {
    display: inline-block;
    padding: .2em .5em;
    color: #4a4041;
}

.pagination .active {
    font-weight: bold;
}

/**
 * ===== Document view =====
 */

.access {
    margin: 0;
    list-style-type: none;
    text-align: right;
    padding: .2em;
}

.access li {
    display: inline-block;
}

.access a {
    display: inline-block;
    padding: .1em .3em;
}

.access li:last-child a {
    border: none;
}

h2.back {
    background: #d1c6c0;
    text-align: center;
    color: #4a4041;
    padding: .2em .5em;
}

h2.back a {
    color: #4a4041;
}

h2.back a:hover {
    color: #b73a34;
}

.breadcrumb {
    background: #d1c6c0;
    margin: 0 .2em;
    padding: 0.5em 1.5em 0.5em 0.5em;
    list-style-type: none;
}

.breadcrumb li {
    display: inline-block;
}

.breadcrumb li a {
    color: #4a4041;
    display: inline-block;
    padding: .1em .3em .1em 0;
}

.breadcrumb li a:before {
    content: "» ";
}

.breadcrumb li:first-child a:before {
    content: "";
}

[id=display_facets] li {
    width: 22em;
    display: inline-block;
}

[id=live-search] {
    background: #a3968d;
    margin-bottom: .5em;
    padding: .2em;
}

[id=live-search] fieldset, [id=live-search] input {
    font-size: .9em;
}

/**
 * ===== Common styles =====
 */

.ui-dialog {
    border: 1px solid!important;
}

.container {
    margin-top: .5em;
    padding:  .5em;
}

.hidden {
    max-height: 0;
    overflow: hidden;
}

#dates_range.hidden {
    padding: 0;
    margin: 0;
}

.well {
    padding: .5em;
    background-color: #d1c6c0;
}

/* loading animation */
#loading {
    position:absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin: 0;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 100000;
}
#loading p {
    position: absolute;
    top:40%;
    width: 20%;
    margin-left: 40%;
    background-color: rgba(255,255,255,.8);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 1em 0;
    -moz-box-shadow: 1px 1px 12px rgba(255, 255, 255, 0.4);
    -webkitbox-shadow: 1px 1px 12px rgba(255, 255, 255, 0.4);
    box-shadow: 1px 1px 12px rgba(255, 255, 255, 0.4);
}

.fright {
    float: right;
}

/**
 * ===== Forms stuff =====
 */

input.largeinput {
    min-width: 25em;
    width: 80%;
}

form > footer {
    margin-top: 1em;
}

/**
 * ===== Login form stuff ======
 */

[id=login] {
    clear: both;
    text-align: center;
}

[id=login] form {
    text-align: left;
    width: 13em;
    margin: 1em auto;
}

[id=user_login] {
    position: absolute;
    top: 0;
    right: .5em;
    font-size: .9em;
    text-align: right;
}

.login, .logout {
    display: inline-block;
    background: #d1c6c0;
    color: #4a4041;
    padding: .3em .2em;
}

/**
 * ===== Date slider =====
 */

.ui-rangeSlider-bar {
    background: #b73a34!important;
    border-radius: 0!important;
    height: 10px!important;
    box-shadow: none!important;
    margin:0!important;
}

.ui-rangeSlider-label {
    border-radius: 0!important;
    background: #b73a34!important;
    bottom: 35px!important;
}

.ui-rangeSlider-noArrow .ui-rangeSlider-container {
    border: none!important;
    border-radius: 0!important;
}

.ui-rangeSlider-container {
    height: 10px!important;
    border: none!important;
    background: #4a4041!important;
}

.ui-rangeSlider-handle {
    height: 10px!important;
}

.ui-rangeSlider-label-inner {
    border-left-width: 5px!important;
    border-right-width: 5px!important;
    border-top-width: 5px!important;
    border-top-color: #b73a34!important;
    margin-left: -5px!important;
}

/**
 * ===== Filters =====
 */

[id=active_filters] {
    margin: 1em 0 0;
}

[id=active_filters] ul {
    display: inline-block;
    list-style-type: none;
    margin: 0 .3em 0 0;
}

[id=active_filters] li {
    display: inline-block;
    background: #d1c6c0;
}

[id=active_filters] a {
    color: #4a4041;
    display: inline-block;
    padding: .5em 1.5em .5em .5em;
    background: url(../img/rm_filter.png) 99% 52% no-repeat;
}

[id=active_filters] a:hover {
    text-decoration: none;
}

/**
 * ===== Tag cloud =====
 */

#tagcloud {
    background: url(../img/menu_sep.png) top left repeat-x;
    text-align: center;
    margin: 1em 1em 0;
    padding-top: 1em;
}

#tagcloud li, #tagcloud a {
    display: inline;
}

#tagcloud a {
    background: url(../img/tag_sep.png) right center no-repeat;
    padding-right: 12px;
}

#tagcloud a:hover {
    color: white!important;
}

#tagcloud a.tag0 { font-size: 0.8em; font-weight: 200; }
#tagcloud a.tag1 { font-size: 0.9em; font-weight: 200; color: #473d3e; }
#tagcloud a.tag2 { font-size: 1em; font-weight: 400; color: #76615c; }
#tagcloud a.tag3 { font-size: 1.1em; font-weight: 500; color: #76615c; }
#tagcloud a.tag4 { font-size: 1.3em; font-weight: 700; color: #a2968a; }
#tagcloud a.tag5 { font-size: 1.4em; font-weight: 800; color: #a2968a; }

/**
 * ===== Browse tabs =====
 */

[id=tabs] section ul {
    list-style-type: disc;
}

.show_all {
    font-size: 0.85em;
}

/**
 * ===== Buttons =====
 */

.btn {
    background: #332928 url(../img/glyphicons-halflings-white.png) 14px 14px no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: .2em;
    border: none;
    text-indent: 30px;
    line-height: 24px;
    overflow: hidden;
    padding: 0;
}

.btn-delete {
    background-position: -452px 5px;
    background-color: #DA4F49;

}

.btn-refresh {
    background-position: -235px -19px;
}

legend > span {
    float: right;
}

/** Old design */
#flash-warnings, #flash-errors {
    padding: .2em 1em .2em 80px;
    border-radius: 6px;
    margin: 0 1em .5em;
    text-align: center;
}

#flash-warnings h3, #flash-errors h3 {
    margin: 0 0 .5em;
}

#flash-warnings {
    background: #e8af00 url(../img/warning.png) 10px 50% no-repeat;
    background: rgba(232, 175, 0, 0.4) url(../img/warning.png) 10px 50% no-repeat;
    border: 1px solid #e8af00;
}

#flash-errors {
    background: #dc0000 url(../img/error.png) 10px 50% no-repeat;
    background: rgba(220, 0, 0, 0.4) url(../img/error.png) 10px 50% no-repeat;
    border: 1px solid #dc0000;
}

.clear {
    clear: both;
}

/* ADMIN Interface related
      -------------------------------------------------- */
#ram_usage, #swap_usage {
    width: 49%;
    float: left;
    margin-right: 0.5%;
}

#swap_usage {
    float:right;
    margin-right: 0;
}

/* Custom page CSS
      -------------------------------------------------- */
.debug:before {
    content:"DEBUG:";
    font-weight:bold;
}

.debug {
    padding: .5em;
    background-color:rgba(255,0,0,.2);
    margin-bottom: .5em;
    border-radius: 6px;
}

em.hl {
    background-color: yellow;
    background-color: rgba(255, 255, 0, 0.2);
}

.clear-btn {
    float: right;
    font-weight: normal;
    font-size: .85em;
    text-transform: none;
    text-shadow: none;
}

.menu-button {
    text-align: center;
}

.menu-button a {
    margin: .2em 1em 0!important;
}

figure section {
    text-align: center;
}

figure section a, figure section video {
    display: inline-block;
    width: 300px;
    text-align: center;
    vertical-align: middle;
    margin: .2em;
    position: relative;
}

figure section a.flashplayer span.title {
    position: absolute;
    bottom: 0;
    left: 0;
}

figure  span.title {
    display: block;
}

figure section a.flashplayer, figure section video {
    color: black;
    border:1px black solid;
    border-radius: 6px;
}

figure section a.flashplayer {
    height: 300px;
}

a.flashplayer img {
    margin-top: 108px;
}

a.flashplayer h2,
a.flashmusicplayer h2 {
    background: url(../img/flash.jpg) 50% 0 no-repeat;
    padding-top: 110px;
    font-size: 1.2em;
    line-height: 1.2em;
    margin: 50px 0 .5em;
}

a.flashplayer h3,
a.flashmusicplayer h3 {
    font-size: 1em;
    line-height: 1em;
    margin: 0;
}

a.flashplayer p {
    font-size: 0.85em;
}

a.flashmusicplayer h3 {
    font-size: 1em;
    margin: 0;
    line-height: 30px;
}

a.flashmusicplayer p, a.flashmusicplayer h2 {
    display: none;
}

.htmlplayer.standalone {
    display: inline-block;
}

/* Mobile view */
@media ( max-width : 767px) {
    /** Reset widths and heights */
    html, body, [id=wrapper], [id=menu] {
        height: auto;
        width: auto;
    }

    body {
        background-image: none;
        min-width: 0;
        min-height: 0;
    }

    .header {
        margin: 0;
    }

    [id=navigation] {
        position: relative;
        margin:0;
    }

    [id=navigation]:after {
        content: "\2261"; /* unicode "burger" */
        position: absolute;
        top: -0.95em;
        right: 0;
        width: 0.8em;
        text-align: center;
        font-size: 4em;
        font-weight: bold;
        line-height: 1;
    }

    .header, .header h1, [id=navigation], [id=navigation] a, [id=navigation] li {
        display: block;
    }

    [id=container] {
        padding: 0 .2em;
    }

    [id=wrapper] {
        margin-left: 0;
        padding: 0;
    }

    [id=menu] {
        float: none;
        position: relative;
        margin: 0;
    }

    [id="search"] input[type="text"] {
        min-width: 5em;
        width: 85%;
    }

    .access {
        position: relative;
        top:0;
    }

    .no-image {
        display: none;
    }

    [id="search_results"] article > div {
        margin-left: 0;
    }

    [id=active_filters] ul, [id="active_filters"] li, [id="active_filters"] a {
        display: block;
    }

    [id=user_login] {
        position: relative;
    }
}

