/*
 * CSS3 Treeview. No JavaScript
 * @version 1.0
 * @author Martin Ivanov
 * @url developer's website: http://wemakesites.net/
 * @url developer's twitter: https://twitter.com/#!/wemakesitesnet
 * @url developer's blog http://acidmartin.wordpress.com/
 **/

/*
 * This solution works with all modern browsers and Internet Explorer 9+.
 * If you are interested in purchasing a JavaScript enabler for IE8
 * for the CSS3 Treeview, please, check this link:
 * http://experiments.wemakesites.net/miscellaneous/acidjs-css3-treeview/
 **/

.css-treeview input
{
    display: none;
}

.css-treeview
{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.css-treeview input + label + ul,
.css-treeview input + label + section + ul
{
    margin: 0 0 0 17px;
}

.css-treeview input ~ ul
{
    display: none;
}

.css-treeview label
{
    cursor: pointer;
}

.css-treeview input:disabled + label
{
    cursor: default;
    opacity: .6;
}

.css-treeview input:checked:not(:disabled) ~ ul
{
    display: block;
}

.css-treeview label
{
    background: url("../img/treeview-icons.png") no-repeat;
}

.css-treeview label,
{
    display: inline-block;
    height: 18px;
    line-height: 18px;
    vertical-align: middle;
}

.css-treeview label
{
    width: 18px;
    vertical-align: middle;
    background-position: 0 -34px;
    padding-left: 18px;
}

.css-treeview .standalone {
    padding-left: 18px;
}

.css-treeview input:checked + label
{
    background-position: 0 -18px;
}

.css-treeview a.display_doc {
    color: inherit;
}

/* webkit adjacent element selector bugfix */
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .css-treeview
    {
        -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
    }

    @-webkit-keyframes webkit-adjacent-element-selector-bugfix
    {
        from
        {
            padding: 0;
        }
        to
        {
            padding: 0;
        }
    }
}
