{% extends '::base.html.twig' %}


{% block menu %}
    {# List available expositions #}
{% endblock %}

{% block container %}
<h2>{% trans %}Welcome to %name% exposition!{% endtrans %}</h2>
{% endblock %}
