{% extends 'AdministrationBundle:Default:main.html.twig' %}

{% block container %}
        <fieldset>
            <legend>Core</legend>
            <a href="#" class="jbtn">{% trans %}Reload{% endtrans %}</a>
            <a href="#" class="btn btn-delete">{% trans %}Remove{% endtrans %}</a>

            <div class="well">
                <strong>{% trans %}Up since:{% endtrans %}</strong> {{ coreStatus.startTime }}<br/>
                <strong>{% trans %}Core directory:{% endtrans %}</strong> {{ coreStatus.coreDir }}<br/>
                <strong>{% trans %}Data directory:{% endtrans %}</strong> {{ coreStatus.dataDir }}
            </div>
        </fieldset>
        <fieldset>
            <legend>Index</legend>
            <div class="well">
                <strong>{% trans %}Indexed documents:{% endtrans %}</strong> {{ coreStatus.numDocs }}
            </div>
        </fieldset>
{% endblock %}
