{#
Copyright (c) 2014, Anaphore
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

    (1) Redistributions of source code must retain the above copyright
    notice, this list of conditions and the following disclaimer.

    (2) Redistributions in binary form must reproduce the above copyright
    notice, this list of conditions and the following disclaimer in
    the documentation and/or other materials provided with the
    distribution.

    (3)The name of the author may not be used to
   endorse or promote products derived from this software without
   specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS'' AND ANY EXPRESS OR
IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT,
INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
#}

{% extends '::base.html.twig' %}

{% block container %}
    {# MENU #}
    {% include 'AdministrationBundle:Default:adminmenu.html.twig' %}
    <div class='well span9'>
        <form>
            <div class='control-group'>
                <div class='controls'>
                    <div class='row-fluid show-grid'>
                        <div class='span3'>
                            <span id='amount'>Name :</span> <input id='amount_entry'
                                name='amount1' style='display: none;'></input>
                        </div>
                        <div class='span3'>
                            <select class='span10'>
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                            </select>
                        </div>
                        <div class='span3'>
                            <label class='checkbox' for='checkbox'> <input type='checkbox'
                                value='true' id='checkbox' name='checkbox'> Indexed
                            </label>
                        </div>
                        <div class='span3'>
                            <label class='checkbox' for='checkbox'> <input type='checkbox'
                                value='true' id='checkbox' name='checkbox'> Stored
                            </label>
                        </div>
                    </div>
                    <div class=' show-grid'>
                        <div class='span3'></div>
                        <div class='span3'>
                            <label class='checkbox' for='checkbox'> <input type='checkbox'
                                value='true' id='checkbox' name='checkbox'> Multivalued
                            </label>
                        </div>
                        <div class='span3'>
                            <label class='checkbox' for='checkbox'> <input type='checkbox'
                                value='true' id='checkbox' name='checkbox'> Stored
                            </label>
                        </div>
                        <div class='span3'>
                            <label class='checkbox' for='checkbox'> <input type='checkbox'
                                value='true' id='checkbox' name='checkbox'> Omnit Norms
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
