{% extends '::base.html.twig' %}

{% block container %}
    {# MENU #}
    {% include 'AdministrationBundle:Default:adminmenu.html.twig' %}
    <div class="content w-menu">
        <form action="{{ path('administration_uniquekey') }}" method="POST"   {{ form_enctype(form) }}>
            <fieldset>
                <legend>{% trans %}Unique key{% endtrans %}</legend>

                <div class="well">
                    {# iterate over each existing tag and render its only field: name #}
                    {{ form_row(form.uniqueKey) }}
                    <button name="submit" type="submit" class="btn btn-fixed btn-success">Valider</button>
                    {{ form_widget(form._token) }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
